body{
          background-color: #edf0f5;
           margin: 0;
          font-family: Arial, Helvetica, sans-serif;

		}

    .topnav {
    background-color: #333 ;
    overflow: hidden;
}

		.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;

}

.topnav a:hover {
 
  text-decoration:unset;


}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav label{

  color: White;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.content {
    max-width: 350px;
    margin: auto;
    background: #edf0f5;
    padding: 10px;
    position: relative;
    top: 150px;
    left: 100px

}

#navbrandlink{
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 10px;

}

#lab-brand{
padding: 20px 20px;

}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

   button{

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

   button:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

 button:focus, .button.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}


label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}



input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}


h1, h2 {
  font-size: 2.5rem;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
   
}